<!DOCTYPE html>
<html>

<head>
  <!-- import the jsPsych core library, specific plugins, jquery and some other scripts-->
  <title>Browser Not Supported</title> <!-- defines a title in the browser tab -->
  <script src="../../js/jspsych.js"></script> <!-- jsPsych core library -->
  <script src="../../js/plugins/jspsych-html-keyboard-response.js"></script>
  <link href="../css/jspsych.css" rel="stylesheet" type="text/css">
  </link> <!-- standard jsPsych css stylesheet -->
</head>

<body></body>
<script>
  var timeline = [];

  var not_supported_message = "您好，非常抱歉，由于您的电脑配置与实验要求不相符, <br> " +
    "您无法完成我们的实验. <br> <br>" +
    "如有任何问题您可以与实验员chi.zhang@ugent.be联系<br>" +
    "请按任意键回到实验信息网页!"

  var not_supported_event = {
    type: 'html-keyboard-response',
    stimulus: not_supported_message,
    choices: jsPsych.NO_KEYS,
  };
  timeline.push(not_supported_event);

  jsPsych.init({
    timeline: timeline,
  })
</script>

</html>
